/* GENERAL */

body {
    font-family: "TS-Med"
}

.container {
    max-width: 1135px;
    /* width: 90%; */
    margin: 0 auto;
    /* border: red solid 2px; */
    /* box-sizing: border-box; */
    padding: 0 30px;
}

/* TITLES */

h1 {
    font-size: 54px;
    margin-top: 35px;
    font-weight: bold;
    font-family: "TS-Med";
    line-height: 65px;
}

h1 span {
    color: #ff5d5d;
}

h2, h3 {
    font-size: 28px;
}

.description .col-1 h2 {
    line-height: 34px;
    font-weight: bold;
    margin-top: 25px;
}


h3 {
    line-height: 35px;
    margin-top: 20px;
    margin-left: 10px;
}

h4 {
    font-family: "TS-Reg";
    font-size: 24px;
    line-height: 29px;
    color: #000;
    font-weight: bold;
}

h5 {
    font-size: 18px;
    line-height: 22px;
    font-family: "TS-Med";
    margin: 10px 0;
}
/* HEADER */
header {
    height: 60px;
}
header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 188px;
}

header img:hover {
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TS-Reg";
}

header nav div:hover {
    background-color: rgb(227, 225, 225);
    border-radius: 20px;
    padding: 7px;
    cursor: pointer;
}


header nav div:not(:last-child) {
    margin-right: 23px;
}

header nav div i {
    margin-right: 6px;
}

header button {
    color: white;
    background-color: black;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-family: inherit;
    border-radius: 20px;
    margin-right: 23px;
}


/* MAIN */

/* Point-infos */
.container p {
    /* font-size: 14px; */
    color: #333333;
    font-family: "TS-Reg";
    font-size: 14px;
    margin: 14px 0px 20px;
}

.container p u:hover {
    cursor: pointer;
}

/* Navigation menu  */

.navigation-menu {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 23px;
}

.navigation-menu div {
    border: black solid 1px;
    width: calc((100% - 50px) / 6);
    padding: 15px;
    display: flex;
    border-radius: 10px; 
    box-sizing: border-box;
    justify-content: space-between;
}

.navigation-menu div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Pictures */

.pictures {
    height: 430px;
    display: flex;
}

.col-1 {
    height: 100%;
    flex: 1;
    margin-right: 2px;
}

.col-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pictures .col-2 {
    height: 100%;
    width: 480px;
}

.pictures .col-2 img {
    width: 100%;
    height: calc(50% - 1.5px);
    object-fit: cover;
}

/* Line */
.line{
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #333333;
    font-family: "TS-Reg";
}

.line > div:first-child {
    display: flex;
}

.line > div:first-child > span:nth-child(even) {
    margin: 0 6px;
}

.line i {
    margin-left: 6px;
}

.line > div:first-child > span:nth-child(odd):hover {   
    text-decoration: underline;
    cursor: pointer;
}

.line > div:first-child >div:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* DESCRIPTION */

.description {
    height: 420px;
    margin-bottom: 40px;
    display: flex;
}

.description .col-1{
    height: 100%;
    width: 50%;
}

.description .col-2{
    margin-top: 30px;
    width: calc(50% - 120px);
    margin-left: 120px;
}

.description .col-1 p {
    color :#333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
}

.description .col-2 div:first-child {
    background-color: #ff5d5d;
    height: 234px;
    padding: 15px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description .col-2 div:last-child {
    background-image: url(../img/map.png);
    height: 234px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.description .col-2 p, button {
    margin-left: 10px;
}

.description .col-2 p {
    margin-bottom: 20px;
}

.description button {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
}

/* SECTION LES IMMANQUABLES */

.immanquables {
    margin-top: 45px;
    display: flex;
}

.divertir {
    height: 100%;
    width: calc(100% / 4);
    box-sizing: border-box;
}

.immanquables .carrousel {
    height: 100%;
    width: calc(100% / 4 * 3);
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.divertir p {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
}

/* CARROUSEL */

.carrousel .col-carrousel {
    height: 100%;
    width: calc(100% / 3 - (40px / 3));
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
}

.carrousel .col-carrousel:not(:last-child) {
    margin-right: 20px;
}

.col-carrousel img  {
    width: 270px;
    height: 200px;
    object-fit: cover;
    
}

.carrousel .circle {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel .circle i {
    font-size: 20px;
}

.carrousel .col-carrousel > div:nth-child(2) i {
    margin-right: 1px;
    color: rgb(4, 169, 108);
    font-size: 12px;
}

.carrousel .col-carrousel > div:nth-child(2) span {
    font-size: 12px;
    line-height: 14px;
    font-family: "TS-Reg";
    color: #333333;
    margin-left: 5px;
}

.carrousel .col-carrousel p {
    line-height: 17px;
    color: #333333;
}

/* HIDDEN */
header .container > i {
    display:none;
}
.navigation-menu > div:nth-child(6) {
    display: none;
}
.navigation-menu > div:nth-child(7) {
    display: none;
}

/* RESPONSIVE */
/* MEDIA QUERY */

@media (max-width: 1183px) {
    .navigation-menu > div:nth-child(6),
    .navigation-menu > div:nth-child(7) {
        display: flex;
    }
    .navigation-menu {
        gap: 0px;
        flex-wrap: wrap;  
    }
    .navigation-menu > div{
        min-width: calc(100% / 4 - (30px / 4));
    }
   .navigation-menu > div:not(:nth-child(4n)) {
    margin-right: 10px;
   }
   .navigation-menu > div:nth-child(1),
   .navigation-menu > div:nth-child(2),
   .navigation-menu > div:nth-child(3),
   .navigation-menu > div:nth-child(4) {
    margin-bottom: 10px;
   }
   .pictures {
        height: 375px;
    }
    .pictures .col-2 {
        width: 400px;
    }
    .description .col-2 div:first-child{
        height: 274px;
    }
}

@media (max-width: 1023px) {
    header nav span {
        display: none;
    }
    .pictures {
        height: 275px;
    }
    .pictures .col-2 {
        width: 320px;
    }
    .description {
       flex-direction: column;
    }
    .description .col-1 p br{
        display: none;
    }
    .description .col-1,
    .description .col-2 {
        width: 100%;
    }
    .description .col-2 {
        margin-left: 0px;
        display: flex;
    }
    .description .col-2 div:last-child,
    .description .col-2 div:first-child {
        width: 50%;
    }
    .description .col-2 div:last-child{
        height: 274px;
    }
    .titleP h2 {
       margin-top: 150px;
    }
    .description .col-2 div:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px ;
    }
    .description .col-2 div:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 20px; 
        border-top-right-radius: 20px;  
    }
}

@media (max-width: 767px) {
    header nav {
        display: none;
    }

    header .container > i {
        display: flex;
    }

    header img {
        width: 132px;
    }
    .pictures .col-2 {
        display: none;
    }
    .no-padding {
        padding: 0px;
    }
    .description .col-2{
        flex-direction: column;
    }
    .description .col-2 div:last-child,
    .description .col-2 div:first-child {
        width: 100%;
    }
    .titleP h2 {
        margin-top: 440px;
     }
     .description .col-2 div:first-child {
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
         border-bottom-left-radius: 0px ;
     }
     .description .col-2 div:last-child {
         border-bottom-left-radius: 20px;
         border-bottom-right-radius: 20px; 
         border-top-right-radius: 0px;  
     }
}
